*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
}

.user_container{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#userInput{
    padding: 7px;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
}
#search_button{
    color: white;
    background-color: rgb(58, 194, 58);
    padding: 7px;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.progress{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.outerCircle{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-family: 1rem;
}
.innerCircle{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;  /* keep Higher than width */
    width: 85px;   /* keep Lower than height */
    font-family: 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
}
/* #emoji{
    font-size: 30px;
} */

.easy-progress{
    /* border: 4px solid rgb(0, 183, 255); */
    background: conic-gradient(rgb(0, 183, 255) var(--progress-degree, 86%),rgb(4, 78, 108) 0%);
}   
.mid-progress{
    /* border: 4px solid rgb(249, 162, 0); */
    background: conic-gradient(rgb(249, 162, 0) var(--progress-degree, 60%),rgb(148, 96, 0) 0%);

}
.hard-progress{
    /* border: 4px solid rgb(255, 0, 0); */
    background: conic-gradient(rgb(249, 0, 0) var(--progress-degree, 70%),rgb(100, 0, 0) 0%);
} 
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    padding: 15px;
}

.data_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 Columns inn the grid(each one fraction)*/
    column-gap:15px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}


